<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# error #}
  {{ form_errors(form) }}

  {#NOM#}
  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# label #}
    {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# error #}
    {{ form_errors(form.nom) }}

    {# input #}
    <div class="col-sm-10">
      {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>


  {#PRENOM#}
  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# label #}
    {{ form_label(form.prenom, "Prenom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# error #}
    {{ form_errors(form.prenom) }}

    {# input #}
    <div class="col-sm-10">
      {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {#DATE#}
  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# label #}
    {{ form_label(form.dateNaissance, "Date de Naissance", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# error #}
    {{ form_errors(form.dateNaissance) }}

    {# input #}
    <div class="col-sm-10">
      {{ form_widget(form.dateNaissance, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {#VALIDER#}
  {{ form_widget(form.ajouter, {'attr': {'class': 'btn btn-primary'}}) }}

  {#RESTE#}
  {{ form_rest(form) }}


  {{ form_end(form) }}
</div>